In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = {
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f']}
df = pd.DataFrame(raw_data, columns = ['age', 'sex'])
df

    age  sex
0  42.0    m
1   NaN  NaN
2  36.0    f
3  24.0    m
4  73.0    f

In [3]:
df.age.sum()

175.0

In [4]:
df.age.mean()

43.75